@import "../../../../../../shared/style/size.scss";

.email-login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    // background-color: white;
    // max-width: 300px;
    // border-radius: 2px;
    // box-shadow: $default-frame-shadow;
}