$very-light-grey : #F5F5F5;
$white: #fff;

$primary-blue: #3f51b5;
$primary-blue-hover: #3f51b5;

$grey-disable-bg: rgba(0, 0, 0, 0.12);
$grey-disable-fg: rgba(0,0,0,.26);

$dark-grey: #212121;

$light-blue-hover: #E1F5FE;

$transparent-overlay-black: #0004