@import "../../shared/style/color.scss";
@import "../../shared/style/size.scss";

.signin {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 300px;
    border-radius: 2px;
    box-shadow: $default-frame-shadow;
}

.signin__form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}